/*! styles that are custom to Design Science 2014 redesign */


body	{
	font-family: $sans-serif;
	font-size: $body-font;
	line-height: 1.2em;
	color: $font-color;
	vertical-align: text-bottom;
}

// - - - - - FONTS - - - - - 
// h1 is reserved for Design Science logo 

h1,h2,h3,h4,h5, h6	{
	font-family: $sans-serif;
	color: $headline-color;
}
	
// see h2.page-title under LAYOUTS section

h3	{
	font-size: 1.8rem;
}
h4	{
	font-size: 1.5rem;
}
h5	{
	// used for event presenter
	font-size: 1.3rem;
	color: $sub-head-color;
}
h6	{
	// used for event subtitles
	font-size: 0.9rem;
	font-style: italic;
}

p, div, li, dd	{
	font-size: 	.9rem;
	line-height: 1.4em;
}
p.intro	{
		font-size: 1rem;
		color:$blue-medium;
	}

a	{
	color: $blue-light;
	text-decoration: none;
	
	&:hover, &:focus	{
		text-decoration: underline;	
	}
	p &	{
		color: $blue-light !important;
	}
	&.icon	{
		display: inline-block;
		font-size: 1.5em;
		font-weight: bold;
		color: $yellow;
		padding-right: 25px;
		background: transparent url(../images/ds/scoll-active-icon.png) right 55% no-repeat;
		
	}
}

blockquote	{
	font-style: normal;
	font-family: $decorative;
	font-size:  1.5rem;
	line-height: 1.5em;
	color: $blue-dark;
	border: none;
}

strong	{
	color: $yellow;
	font-weight: bold;
}

em	{
	font-variant: italic;
}

.img-with-caption	{
	margin: 0 0 20px 20px;
	 img	{
		 float: none;
		 display: block;
		 margin-bottom: 5px;
	}
	p	{
		font-size: 0.65rem;
		width: 90%;
	}
}

span.icon-font	{
	font-family: $icon-font;
	font-weight: bold;
	font-style: italic;
}

abbr[title]	{
	border-bottom: 1px dotted $blue-light;
}
acronym[title]	{
	@extend abbr[title];
}
cite	{
	font-weight: bold;
	font-style: italic;
}

dt	{
	margin-top: .5em;
}
table {}

// - - - - - LAYOUT - - - - - 

// See -header.scss for header layout issues

.content	{
	padding-top: 10.5rem;
	z-index: 1;
	position: relative;
}

section	{
	position: relative;
	
	.first	{
		margin-top: 5rem;
	}
}

h2.page-title	{
	font-size: 2.0rem;
	color: #fff;
	z-index:100;
	padding-left: 10px;
	
	@media only screen and (max-width: 765px)	{
		padding-left: 0;
	}
}

.indent	{
	padding-left: 10px;
}


// - - - - - Homepage specific - - - - -

body.homepage header	{
	height: 145px;
	background: none;
	z-index: 1000;
}
body.homepage .content	{
	padding-top: 0;
}