/*! styles that are custom to Design Science 2014 redesign */


body	{
	font-family: $sans-serif;
	font-size: $body-font;
	line-height: 1.2em;
	color: $font-color;
	vertical-align: text-bottom;
}

// - - - - - FONTS - - - - - 
// h1 is reserved for Design Science logo 

h1,h2,h3,h4,h5, h6	{
	font-family: $sans-serif;
	color: $headline-color;
}	
h2	{
	// page titles only
	font-size: 2.0rem;
	position: absolute;
	top: -8rem; left: 0;
	color: #fff;
}
h3	{
	font-size: 1.8rem;
}
h4	{
	font-size: 1.5rem;
}
h5	{
	// used for event presenter
	font-size: 1.3rem;
	color: $sub-head-color;
}
h6	{
	// used for event subtitles
	font-size: 0.9rem;
	font-style: italic;
}

p, div, li, dd	{
	font-size: 	.9rem;
	line-height: 1.4em;
}
p.intro	{
		font-size: 1rem;
		color:$blue-medium;
	}

a	{
	color: $blue-light;
	text-decoration: none;
	
	:hover	{
		text-decoration: underline;	
	}
}

.tagline	{
	text-transform: uppercase;
	color: #fff;
	font-size: .9rem;
	font-weight: 600;
	vertical-align: center;
	letter-spacing: 1px;

	.yellow	{
		color: $yellow;
	}
}

caption	{
	font-size: 0.8rem;
}
span.icon-font	{
	font-family: $icon-font;
	font-weight: bold;
	font-style: italic;
}

// - - - - - LOGOS - - - - - 
.logo	{
	text-indent: -2000px;
}
h1.logo	{
		background: url(../images/ds/DS-logo.png) left center no-repeat;
	}

// - - - - - LAYOUT - - - - - 

header	{
	height:($utility-height + $main-header-height +$footer-height);
	background: url(../images/ds/DS-header-bkgrd.jpg) left center no-repeat;

}
	.header-utility	{
		height: $utility-height;
		padding-top: 1.5%;
		background: rgba($blue-dark, .7);
	}
	
	.header-main	{
		height: $main-header-height;
		background: rgba(white, .85);
	}


.content	{
	margin-top: 5rem;
	z-index: 500;

}
footer	{
	height: $footer-height;
	padding-top: 20px;
	background: $blue-dark;

	.menu-footer	{
		margin-top: 20px;
	}
	
	.logo	{
		background: url(../images/ds/ISD-logo.png) right center no-repeat;
		height: 50px; width: 100%;
		position: relative; right: 0; top: 20px;
	}
}