/*! custom footer styling for Design Science 2014 redesign */

	$padding-top: 10px;

footer	{
	height: $footer-height - $padding-top;
	padding-top: $padding-top;
	margin-top: 0;
	background: $blue-dark;
	border-top: 1px solid white;

	@media only screen and (max-width: 600px)	{
		padding-top: 0;
		height: $footer-height;
	}
	
	.container .eleven.columns	{
		@media only screen and (max-width: 600px)	{
			width: 50%;
			float: left;
		}		

	}
	.container .five.columns	{
		@media only screen and (max-width: 600px)	{
			width: 50%;
			float: right;
		}		

	}
	
	.logo	{
		background: url(../images/ds/ISD-logo.png) right 15px no-repeat;
		height: $footer-height - $padding-top;
		width: 100%;
		
		@media only screen and (max-width: 600px)	{
			margin-left: 2rem;
			margin-top: 1rem;
		}
	}
}