/*! custom header styling for Design Science 2014 redesign */

.tagline	{
	text-transform: uppercase;
	color: #fff;
	font-size: .9rem;
	font-weight: 600;
	vertical-align: center;
	letter-spacing: 1px;

	.yellow	{
		color: $yellow;
	}
}

// - - - - - LOGOS - - - - - 
.logo	{
	text-indent: -2000px;
}
h1.logo	{
		background: url(../images/ds/DS-logo.png) left center no-repeat;
		margin: 0; padding: 0;
		height: 70px;
	}

header	{
	height:($utility-height + $main-header-height +$footer-height);
	background: $blue-medium url(../images/ds/DS-header-bkgrd.jpg) 50% center no-repeat;
	//z-index: 100;
	width: 100%;
	position: absolute;
	top: 0; left: 0;

}
.header-utility	{
	height: $utility-height;
	padding-top: 1.5%;
	background: rgba($blue-dark, .7);
	position: relative;
	z-index: 900;
}

.header-main	{
	height: $main-header-height;
	background: rgba(white, .92);
	position: relative;
	z-index: 1000;
}

