/*! homepage specific styling for Design Science 2014 redesign */

body.homepage header	{
	height: 145px;
	background: none;
	z-index: 2000;
}
body.homepage .content	{
	padding-top: 0;
}
.homepage2	header	{
	position: fixed;
	top: 0; left: 0;
	z-index: 2000;
	background: none;
}

.homepage2 footer	{
//	postion: fixed;
//	bottom: 0;
//	padding-top: 
}



