/*! custom menu styling for Design Science 2014 redesign */

#nav
{
	position: relative;

   & > a	{
        display: none;
    }
    
    /* first level */
    & > ul	{
		position: absolute; right: -5px; top: -11px;
		height: $main-header-height; width: auto;
		margin: 0; padding: 0;
		z-index: 200;
    
		li    {
			display: inline-block;
			position: relative;
			height: 100%;
			padding: 0; margin: 0;
			
			a {
				//display:inline-block;
				display:block;
				//float: left;
				$padding-top-bottom: 35px;
				height: ($main-header-height - ($padding-top-bottom*2));
				padding: $padding-top-bottom 1em;
				font-size: 1rem;
				font-weight: bold;
				position: relative;
				color: $blue-dark;
				text-transform: uppercase;
				text-align: center;
		
				&:hover	{
					background: $blue-dark;
					color: #fff;
					text-decoration: none;
				}
			}
			
			&:hover ul.level-1	{
				display: block;
			}
	    
			/* second level */
			ul.level-1	{
				position: absolute; top: $main-header-height; left: 0;
				margin: 0; padding: 0;
				width: 15em;
				display: none;
				text-align: left;
				background-color: rgba(255,255,255,.85);
				z-index: 1010;
				
				&:first-child	{
					padding-top: 1em;
				}
				
				&:hover	{
					display: block;		
				}
				
				li	{
					width: 100%;		
					
					a	{
						display: block;
						//min-height: 1em;
						//overflow: visible;
						font-weight: normal;
						color: $blue-medium;
						background: transparent;
						text-transform: capitalize;
						text-align: left;
						font-size: .8rem;
						padding: .5em .5em .5em 1em;
						line-height: 1.2em;
						
						&:hover	{
							background: rgba($blue-medium, .8);
							color: white;
							//text-decoration: underline;
						}
					}					

					&.info-footer	{
						a	{
							border-top: 2px solid $blue-medium;
							color: $blue-medium;
							font-weight: bold;
							//min-height: 1em;
							//margin-top: 1em;
							padding: .75em .5em .75em 3.5em;
							background: transparent url(../images/ds/ds-menu-icons.png) 0.5em -5px no-repeat;
							
							&.visit	{
								//background-position:0.5em -5px;
							}
							&.apply	{
								background-position:0.5em -55px;
							}
							&.discover	{
								background-position:0.5em -105px;
							}
							&.connect	{
								background-position:0.5em -155px;
							}
						
							&:hover	{
								background-color: $yellow;
								color: $blue-light;
								//text-decoration: underline;
							}
						}
					}
				} 
			}
	    }
	}
}

@media only screen and (max-width: 767px)	{
	#nav	{
		position: relative;

		&:not( :target ) > a:first-of-type,
        &:target > a:last-of-type	{
            display: inline-block;
            position: absolute;
            top: -15px; right: 5px;
            color: $blue-light;
            font-weight: bold;
        }

		&:target > ul	{
            display: block;	
            margin-top: 10px;            	
		}

		& > ul	{
			height: auto;
	        display: none;
	        position: absolute;
			width: 80%;
	        top: 0; right: 0;
	        margin: 0; padding: 0;

			li	{
	            width: 100%;
	            float: none;
	            margin: 0; padding: 0;
	            padding-top: 0;
	            
	           & > a	{
		            color: white;
		            background-color: rgba($blue-dark, .75);
		            text-align: left;
		            height: auto;
		            padding: .5em 0 .5em 5%;
		            width: 95%;
					&:hover	{
						background-color: rgba($blue-medium, .75);
	            	}
            	}
				a	{
		            background-color: $blue-light;
		            color: white;
		            text-align: left;
		            height: auto;
		            padding: .5em 0 .5em 5%;
		            width: 95%;
					&:hover	{
						color: white;
						background-color: $blue-light;
	            	}
            	}
			
				/* second level */
				ul.level-1	{
					display: block;
			        position: static;
			        width: 100%;

					li	{

						a	{
							padding: .5em 0 .5em 10%;
							width: 90%;
							background-color: rgba($blue-medium, .75);
							color: white;
							&:hover	{
								background-color: $blue-light;
							}
						}
						&.info-footer a {
							background: none;
							padding: .5em 0 .5em 10%;
							width: 90%;
							border-top: none;
							background-color: rgba($blue-medium, .75);
							color: white;
							&:hover	{
								background-color: $blue-light;
								color: white;
							}						
						}
					}
				}
			}
		}
	}
}


.utility	{
	float: right;
	
	li	{
		display: inline-block;
			font-size: .75rem;
		a	{
			padding: .5em 1em;
			color: rgba(white, .75);
			text-decoration: none;
			text-transform: uppercase;

			&:hover, &:focus	{
				text-decoration: underline;
				color: #fff;
			}
		}
	}
	&:first-child a	{
		padding-left: 0;
	}
	@media only screen and (max-width: 767px)	{
		display: none;
	}
}

.menu-footer	{
	@extend .utility;
	float: left;
	margin-top: 20px;
	
	@media only screen and (max-width: 767px)	{
		display: block;
		text-align: center;
		margin-top: .5rem;
		margin-bottom: 0;
		font-size: .65rem;
		li	{
			width: 100%;
			margin-bottom: 0;
		}
	}
}

.breadcrumbs	{
	@extend .utility;
	float: left;
	position: absolute;
	top:4.5rem; left:10px;
	text-transform: uppercase;
	li	{
		&:after	{
			margin: 0 1em 0 0;
			content: "/";
			color: $blue-light;
			}
		&.current-page	{
			&:after	{
				content: "";
				color: white;
			}
		}
		a	{
			
			&:hover, &:focus	{
				color: $blue-light !important;
				text-decoration: underline;
			}
		}
		&:first-child a	{
			padding-left: 0;
			color: $blue-light;
	
		}
	}	
	@media only screen and (max-width: 767px)	{
		display: block;
		//top: 4.2rem;
		left: 0;	
	}
}