/*! custom menu styling for Design Science 2014 redesign */

nav	{
	position: relative;
}

.main-menu	{
	position: absolute; right: -1px; top: -11px;
	height: $main-header-height; width: auto;
	margin: 0; padding: 0;
	z-index: 200;
	
	li {
		display: inline-block;
		position: relative;
		height: 100%;
		padding: 0; margin: 0;
		
		a {
			display:block;
			//float: left;
			$padding-top-bottom: 35px;
			min-height: ($main-header-height - ($padding-top-bottom*2));
			padding: $padding-top-bottom 1.5em;
			font-size: 1rem;
			font-weight: bold;
			position: relative;
			color: $blue-dark;
			text-transform: uppercase;
			text-align: center;

			&:hover	{
				background: $blue-dark;
				color: #fff;
				text-decoration: none;
			}
		}
		&:hover .level-1	{
			display: block;
		}
			
		ul.level-1	{
			position: absolute; top: $main-header-height; left: 0;
			margin: 0; padding: 0;
			width: 15em;
			display: none;
			text-align: left;
			background-color: rgba(255,255,255,.85);
			z-index: 1010;
			
			&:first-child	{
				padding-top: 1em;
			}
				
			li	{
				width: 100%;		
				a	{
					display: block;
					//min-height: 1em;
					//overflow: visible;
					font-weight: normal;
					color: $blue-medium;
					background: transparent;
					text-transform: capitalize;
					text-align: left;
					font-size: .8rem;
					padding: .5em .5em .5em 1em;
					
					&:hover	{
						background: rgba($blue-medium, .8);
						color: white;
						//text-decoration: underline;
					}
				}					
				
				&.info-footer	{
					a	{
						border-top: 2px solid $blue-medium;
						color: $blue-medium;
						font-weight: bold;
						//min-height: 1em;
						//margin-top: 1em;
						padding: .75em .5em .75em 3.5em;
						background: transparent url(../images/ds/ds-menu-icons.png) 0.5em -5px no-repeat;
						
						&.visit	{
							//background-position:0.5em -5px;
						}
						&.apply	{
							background-position:0.5em -55px;
						}
						&.discover	{
							background-position:0.5em -105px;
						}
						&.connect	{
							background-position:0.5em -155px;
						}
					
						&:hover	{
							background-color: $yellow;
							color: $blue-light;
							//text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

.mobile-menu	{
	display: none;
	.mobile-menu-icon	{
		width:30px;
	    height:5px;
	    background-color:#111;
	    border-radius:5px;
	    position:relative;
	    
	    &:after	{
			content: '';
			width: 100%;
			height:5px;
			background-color:#111;
			position:absolute;
			border-radius:5px;
			top:10px;
	    }
	    &:before	{
			content: '';
			width: 100%;
			height:5px;
			background-color:#111;
			position:absolute;
			border-radius:5px;
			top: 20px;
	    }
	}
	
}

@media only screen and (max-width: 600px)	{
	.mobile-menu	{
		display: block;	
	}
}


.utility	{
	float: right;
	
	li	{
		display: inline-block;
			font-size: .75rem;
		a	{
			padding: .5em 1em;
			color: rgba(white, .75);
			text-decoration: none;
			text-transform: uppercase;

			&:hover, &:focus	{
				text-decoration: underline;
				color: #fff;
			}
		}
	}
	&:first-child a	{
		padding-left: 0;
	}

}

.menu-footer	{
	@extend .utility;
	float: left;
	margin-top: 20px;
}

.breadcrumbs	{
	@extend .utility;
	float: left;
	position: absolute;
	top: 1rem; left:10px;
	text-transform: uppercase;
	a	{
		
		&:after	{
			margin-left: 1em;;
			content: "/";
			}
	}
	&:first-child a	{
		padding-left: 0;
		color: $blue-light;

	}
}