/*! custom homepage pre-footer styling for Design Science 2014 redesign */

.pre-footer	{
	background: $blue-dark;
	color: $blue-light;
	border-bottom: 1px solid black;
	padding: 0 0 .5rem;
	
	h4	{
		//display: inline-block;
		color: inherit;
		text-transform: uppercase;
		padding-top: 2.1rem;
		float: left;
		//margin-right: 1rem;
		width: 22%;
		font-size: 1rem;
		letter-spacing: 1px;
	}
	.title	{
		color: inherit;
		font-size: 1rem;
		margin-bottom: .1em;
	}
	p.description	{
		color: $blue-light;
		font-size: .7rem;
		margin: 0; padding: 0;
		width: 68%;
		display: inline-block;
		font-weight: bold;
	}	
	.date	{
		color: white;
		font-size: 2.2rem;
		line-height: 120%;
		display: inline-block;
		//float: left;
		width: 28%;
		//padding-top: .6rem;
	}
	.month	{
		color: $blue-light;
		font-size: 1.3rem;
		display: block;
		line-height: 75%;
	}
}

.event	{
	float: left;
	width: 37%;
	padding-right: 0.5rem;
	padding-top: 1rem;
	padding-bottom: .3rem;
	border-bottom: .3rem solid transparent;
	&:hover	{
		//background: rgba(white,.5);
		border-bottom: .3rem solid $yellow;
	}
}

.seven h4	{
	width: 30%;
}
.feature	{
	@extend .event;
	width: 65%;
	margin-right: 0;
	padding-top: 1.5rem;
	
	.title	{
		color: white;
		width: 100%;
	}
	.description	{
		width: 100%;
	}
}