/*! custom homepage pre-footer styling for Design Science 2014 redesign */

.pre-footer	{
	background: $blue-dark;
	color: $blue-light;
	border-bottom: 1px solid black;
	// Need to hide the pre-footer until there is event and feature data!
	display: none;
	
	h4	{
		float: left;
		width: 22%;
		padding-top: 2.1rem;
		color: inherit;
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 1px;
	}
	a	{
		display: inline-block;
	}
	.title	{
		margin-bottom: .1em;
		color: inherit;
		font-size: 1rem;
	}
	p.description	{
		display: inline-block;
		width: 68%;
		margin: 0; 
		margin-bottom: .5rem;
		padding: 0;
		color: $blue-light;
		font-size: .7rem;
		font-weight: bold;
	}	

	.event	{
		float: left;
		width: 37%;
		padding-right: 0.5rem;
		padding-top: 1rem;
		
		a	{
			border-bottom: .3rem solid transparent;
	
			&:hover	{
				border-color: $yellow;
			}
		}
		.date	{
			color: white;
			font-size: 2.2rem;
			line-height: 120%;
			display: inline-block;
			width: 28%;
		}
		.month	{
			color: $blue-light;
			font-size: 1.3rem;
			text-transform: uppercase;
			display: block;
			line-height: 75%;
		}
	}
	
	.seven h4	{
		width: 30%;
	}
	.feature	{
		@extend .event;
		width: 65%;
		margin-right: 0;
		padding-top: 1.5rem;
		
		.title	{
			color: white;
			width: 100%;
		}
		.description	{
			width: 100%;
		}
	}
}