/*! custom Visit Us page styling for Design Science 2014 redesign */

.visit	{
	header	{
		height: 450px;
		background: transparent url(../images/ds/visit-header-bkgd.jpg) 50% top no-repeat;
	}
	.content	{
		margin-top: 200px;
	}
	.page-title-wrapper	{
		position: relative;
		background: rgba($blue-dark, .92);
		height: 60px;
		width: 100%;
		padding-top: 20px;
		z-index: 500;
	}	
	.visit-header-image	{
		position: absolute;
		top: -310px; left: 0;
		height: 390px; 
		width: 100%;
		background: transparent url(../images/ds/visit-header-image.jpg) 50% top no-repeat;
		z-index: 1;
	}
}